* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
  }

.background {
    width: 100%;
    min-height: 100vh;
    background: #A1674A;
    padding: 10px;
}


.calculator {
    width: 100%;
    max-width: 600px;
    background:#AB9B96;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.display {
    background-color: #444;
    color: white;
    height: 100px;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    border-radius: 10px;
}

.calculator h2 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


h2 {
    margin-bottom: 10px;
}

h3 {
    font-size: 15px;
    margin-top:-5px;
}
.cdel    {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    margin-top: 10px;
    text-align: right;
    align-items:center;
}

.buttons    {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    margin-top: 1px;
}


.btn {
    background-color: #555;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    
}

.btn:hover {
    background-color: #666;
}
